
.forecast-card{
    display: flex;
    flex-direction: grid;
    align-items: center;
    margin-left: 54px;
    margin-right: 55px;
    flex-wrap: wrap;
    padding-top: 52px;
    justify-content: space-between; 
  }

.forecast-card1{
    width: 120px;
    height: 177px;
    flex-shrink: 0;
    background: #1E213A;
    
}  
.forecast-card2{
    width: 120px;
    height: 177px;
    flex-shrink: 0;
    background: #1E213A;
    
} 
.forecast-card3{
    width: 120px;
    height: 177px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;
    
} 
.forecast-card4{
    width: 120px;
    height: 177px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;
} 
.forecast-card5{
    width: 120px;
    height: 177px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;
} 





.HighlightCard{
    display: flex;
    flex-direction: grid;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.HighlightCard1{
    width: 328px;
    height: 204px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;

    
}

.HighlightCard2{
    width: 328px;
    height: 204px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;

}

.HighlightCard3{
    width: 328px;
    height: 159px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;

}
.HighlightCard4{
    width: 328px;
    height: 159px;
    flex-shrink: 0;
    background: #1E213A;
    margin-top: 32px;

}

.weatherHighlight{
    margin-left: 21px;

}
.weatherHighlighttext{
    padding-top: 52px;
}

.highlightText{
    width: fixed 220px;
    height: fixed 28px;
    color: #E7E7EB;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.hightlight-info{
    margin-top: 96px;
    padding-bottom: 24px;
    color: #A09FB1;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* box-card CSS */

.box-text{
    color: #E7E7EB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 76px;
    height: 19px;
    padding-top: 18px;
    padding-left: 22px;
}

.box-image{
    width: 56.439px;
    height: 62px;
    flex-shrink: 0;
    margin-top: 47px;
    margin-left: 32px;
    
}

.box-temp{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 18px;
}
.box-temp-num1{
    width: 33px;
    height: 19px;
    color: #E7E7EB;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
}
.box-temp-num2{
    width: 30px;
    height: 19px;
    color: #A09FB1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
}

.box-text1{
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 90px;
    height: 19px;
    padding-top: 18px;
    padding-left: 22px;
}
.box-text2{
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100px;
    height: 19px;
    padding-top: 18px;
    padding-left: 22px;
}
.box-text3{
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 90px;
    height: 19px;
    padding-top: 18px;
    padding-left: 22px;
}
.box-text4{
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 120px;
    height: 19px;
    padding-top: 18px;
    padding-left: 22px;
}


/* weatherhighlight CSS */

.card-text{
    width: fixed 90px;
    height: fixed 19px;
    color: #E7E7EB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 22px;
   
}
.card-desc{
    width:  fixed 113px;
    height: fixed 75px;
    color: #E7E7EB;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-content: center;
    padding-left: 112px;
    padding-top: 6px;

}

.card-desc1{
    width:  fixed 197px;
    height: fixed 75px;
    color: #E7E7EB;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-content: center;
    padding-left: 70px;
    padding-top: 6px;

}
.card-desc-temp{
    width:  fixed 113px;
    height: fixed 75px;
    color: #E7E7EB;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.card-section{
    display: flex;
    padding-left: 133px;
    padding-top: 31px;
}



.card-nav-text{
    color: #E7E7EB;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 8.26px;
}

.rectangle{
    width: 185px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 80px;
    background: #FFEC65;
    position: absolute;
    margin-left: 49px;
}
.rectangle1{
    width: 229px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 80px;
    background: #E7E7EB;
    margin-left: 50px;
}
.card-text-num{
    color: #A09FB1;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-text-num1{
    color: #A09FB1;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-text-num2{
    color: #A09FB1;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 53px;
}
.card-text-num3{
    color: #A09FB1;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 23px;
    padding-top: 4px;
    padding-left: 200px;
}
.card-wrap-num{
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
}
.wrapper{
    padding-top: 12px;
    padding-bottom: 51px;
}

.HighlightWeather{
    background-color: #100e1d;
    min-height: 100vh;
    flex-wrap: wrap;
    /* padding-right: 6rem;
    padding-left: 6rem; */
}

