.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-shower-image{
    margin-top: 76px;
}
.contents-text-num {
    color: #E7E7EB;
    font-size: 144px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 192px;
    height: 168px;
    overflow: none;
    text-overflow: none;
    white-space: nowrap;
    margin-top: 40px;
    
  }
  
  .temperature,
  .unit {
    display: inline;
  }
  
  .unit{
    color: #A09FB1;
    font-size: 50px;
    font-weight: 500;
  }

  .contents-desc{
    margin-top: 23px;
    width: fixed 129px;
    height: fixed 42px;
    color: #A09FB1;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .contents-date{
    color: #88869D;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
  }

  .contents-finder{
    color: #88869D;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 33px;
    display: flex;
    padding-bottom: 105px;
  }

/* WeatherSearch CSS */
.close-btn{
    padding-top: 12px;
    margin-left: 339px;
    padding-bottom: 22px;
}


.btn-search{
    width: 86px;
    height: 48px;
    background: #3C47E9;
    outline: none;
    margin-left: 12px;
}

.search-role{
    display: flex;
    float: left;
    width: 252px;
    height: 48px;
    border: 1px solid #E7E7EB;
    margin-left: 13px;
    
    
}
.search-container{
    padding-top: 100px;
}
.search-btn{
    margin-top: 12px;
    margin-left: 12px;
    padding-bottom: 12px;
}
.query-details{
    background-color: #1E213A;
    padding-left: 13px;
    outline: none;
    
    
}
/* Remove clear button in input field */
input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  display: none;
}

input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="text"]::-webkit-clear-button,
input[type="search"]::-webkit-clear-button {
  display: none;
}


